<div id="about">
	<article class="panel">
		<h1>About</h1>
		<p>I specialise in clean, accessible, responsive and optimised code using HTML 5, Sass, and Javascript for websites and webapps. I have experience of libraries such as Foundation, Bootstrap, jQuery and frameworks such as AngularJS and Wordpress. I've worked in the industry for over ten years, including agencies and development houses, which gives me a deep knowledge of processes and development cycles.</p>
		
		<h2>About me</h2>
		<p>I'm a web developer originally from Wellington, New Zealand. I graduated from the National College of Multimedia and Technology whilst I worked part-time for a web production company. I moved to the UK in 2006 and freelanced for a short period before taking up permanent work. </p>
		
		<h2>My skills</h2>
		<p>The key to optimised code is the understanding of how it all works.</p>
		<p>Not only should a page look great to the user, but so should the code lying beneath. Clean and good looking code makes a page run faster, be helpful to search engines, and also to be accessible for people with physical limitations.</p>
		<p>I have a wide set of skills in technology, including web, video and audio but I specialise in precision HTML, CSS and Javascript. </p>
		<p>My skills include: </p>
				<ul>
					<li><p>CSS/Sass; styling, mixins, variables, animation (keyframe, transitional and Javascript based), media queries</p></li>
					<li><p>HTML</p></li>
					<li><p>Javascript; jQuery, AngularJS, vanilla</p></li>
					<li><p>Version control; git/svn</p></li>
					<li><p>Debugging for iOS/Android, and Desktop browsers (including IE)</p></li>
					<li><p>Facebook app/page development</p></li>
					<li><p>Social media APIs including Twitter, Facebook, Google, Stackla</p></li>
					<li><p>.net Visual Studio with Umbraco CMS; developing in the environment and basic .net controls, MVC ideology</p></li>
					<li><p>Grunt task runner</p></li>
					<li><p>Atlassian Jira</p></li>
					<li><p>Adobe Creative Suite; Master of Photoshop, cutting assets and compressing assets</p></li>
					<li><p>Terminal</p></li>
					<li><p>Compression techniques; audio, video, text, images</p></li>
					<li><p>Final Cut Pro; editing, video compression, video-for-web</p></li>
					<li><p>Logic; audio composition &amp; programming</p></li>
					<li><p>Experience with CDNs; Cloudflare, AWS, Akamai</p></li>
				</ul>
		
		
		
	</section>
</div>