<div id="skills">
	<article class="panel">
		<h1>Skills</h1>
		<p>The key to optimised code is the understanding of how it all works.</p>
		<p>Not only should a page look great to the user, but so should the code lying beneath. Clean and good looking code makes a page run faster, be helpful to search engines, and also to be accessible for people with physical limitations.</p>
		<p>I have a lot of skills in technology, including web, video and audio but I specialise in precision HTML, CSS and Javascript. Below is a list in detail of all of my skills: </p>
		<section>
			<div class="wrap">
				<ul>
					<li><p>CSS/Sass; styling, mixins, variables, animation, media queries</p></li>
					<li><p>HTML</p></li>
					<li><p>Javascript; jQuery, AngularJS, vanilla</p></li>
					<li><p>Debugging for iOS/Android, and Desktop browsers (including IE)</p></li>
					<li><p>git/svn</p></li>
					<li><p>Atlassian Jira</p></li>
					<li><p>.net Visual Studio with Umbraco CMS; developing in the environment and basic .net controls, MVC ideology</p></li>
					<li><p>Adobe Creative Suite; Master of Photoshop, cutting assets and compressing assets</p></li>
					<li><p>Terminal</p></li>
					<li><p>Compression techniques; audio, video, text, images</p></li>
					<li><p>Grunt task runner</p></li>
					<li><p>Final Cut Pro; editing, video compression, video-for-web</p></li>
					<li><p>Logic; audio composition &amp; programming</p></li>
				</ul>
			</div>	
		</section>
	</article>
</div>